<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="A brief description of your page." />
    <meta property="og:image" content="https://telegra.ph/file/b7e2411d9426254be18ef.png" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    <meta property="og:type" content="website" />
</head>
<body>
    {{ content }}
</body>
</html>
